.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 500px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
  gap: 40px;
  margin-bottom: 24px;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 560px;
  height: 315px;
  border: none;
}
